<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/7.0/phpunit.xsd"
         backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="phpunit.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
>

    <testsuites>
        <testsuite name="CrazyCodr/Standard-Exceptions Test Suite">
            <directory>Tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./Exceptions</directory>
            <file>./Helpers/HttpExceptionFactory.php</file>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-html" target="TestReport/Html" lowUpperBound="50" highLowerBound="80"/>
        <log type="coverage-clover" target="TestReport/Xml/coverage.xml"/>
        <log type="coverage-text" target="php://stdout" showUncoveredFiles="false"/>
    </logging>

</phpunit>
